
      {{!-- <ul class="header-button-list js-header-btn">
        <li class="header-button-item">
          <button class="button button-tpl js-watched-btn" id="Watched" data-action="watchedBtn">
            Watched
          </button>
        </li>
        <li class="header-button-item">
          <button class="button button-tpl js-watched-que" id="que" data-action="queueBtn">
            queue
          </button>
        </li>
      </ul> --}}